.main-wrapper {
  padding: 3vw;
  display: grid;
  /* grid-template-columns: 1fr 3fr; */
}

.navbar {
  display: flex;
}

.project-title.selected,
.view.selected {
  background-color: lightblue;
}

.task-card {
  background-color: rgb(183, 183, 183);
  display: grid;
  margin-bottom: 5px;
}

h2,
.task-card h3,
.task-card p {
  outline: none;
}

.task-title {
  display: flex;
}

.task-title > h3 {
  margin: 5px 0;
}

.task-details {
  opacity: 0;
  height: 0;
  transition: all 0.3s;
}

.expanded > .task-details {
  opacity: 1;
  height: 8vh;
  transition: all 0.3s;
}

p {
  margin: 0;
}

p:empty:not(:focus)::before {
  content: attr(data-placeholder);
}
h2:empty:not(:focus)::before {
  content: attr(data-placeholder);
  color: grey;
}

.done {
  text-decoration: line-through;
}

@media (min-width: 500px) {
  .main-wrapper {
    grid-template-columns: 1fr 3fr;
  }
}
