* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background-color: #3d353d;
}

.navbar {
  position: relative;
  display: inline-block;
  gap: 5px;
  margin: 2vh 2vh 0 auto;
}
#profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  margin-top: 10px;
  /* margin-left: auto; */
}
img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #f1f1f1;
  width: 110px;
  min-height: 35px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
}

.show {
  display: flex;
  flex-direction: column;
}
.main-wrapper {
  display: grid;
  grid-template-rows: 1fr 20fr;
  height: 100vh;
  padding: 0 3vw 0 2px;
}

.sidebar {
  padding: 20px 10px;
  display: flex;
  gap: 15px;
  grid-row: 1/3;
  grid-column: 1/2;
  flex-direction: column;
}
.sidebar,
.sidebar * {
  background-color: #282121;
  /* pointer-events: none; */
  user-select: none;
}

.navbar {
  grid-column: 2/3;
  display: flex;
}

.button-wrapper {
  margin-top: auto;
  padding: 0 0 15px 15px;
}
.right-wrapper > .button-wrapper {
  padding-bottom: 35px;
}
.new-btn {
  padding: 3px 7px;
  width: fit-content;
  height: 25px;
}

#del-proj-btn {
  background-color: rgb(255, 67, 67);
}

.project-card > .selected-project,
.project-title.selected-project,
.view.selected-project {
  background-color: #666666;
  border-radius: 5px;
}

.tasks-display,
.right-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* PROJECTS */
.view {
  padding: 2px;
}

.project-card {
  margin-bottom: 10px;
}
.project-card > .project-title {
  padding: 5px;
}
/* .project-card > .selected-project {
  background-color: #666666;
} */

[contentEditable]:empty:not(:focus):before {
  content: attr(data-text);
  color: grey;
}

.project-title-container {
  display: flex;
  gap: 15px;
}

h2.project-title {
  display: inline;
  caret: black bar;
}

h2.project-title:focus {
  caret-color: white;
  caret-shape: block;
}
.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 20px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 8px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #546adc;
  border-color: #546adc;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/* TASKS */
.tasks-display {
  overflow: scroll;
  margin: 10px 20px;
  flex: 1;
}

@keyframes append-animate {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.new-card {
  transform-origin: 50% 0;
  animation: append-animate 0.2s linear;
}

.task-card {
  /* background-color: #b7b7b7; */
  display: grid;
  padding: 5px;
  border-radius: 10px;
  height: auto;
  /* margin-bottom: 5px; */
}

h2,
.task-card h3,
.task-card p {
  outline: none;
}

/* task card details */
.task-title-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.task-title-wrapper > h3 {
  margin: 5px 0;
}

.task-title-input {
  width: fit-content;
}

input[type="text"],
textarea {
  /* background-color: #3d353d; */
  border: none;
  outline: none;
  font-size: 1.1rem;
  line-height: 1.1rem;
  width: 100%;
  resize: none;
}

.task-btn-wrapper {
  display: none;
  gap: 15px;
  margin-right: 5vw;
}

.task-btn {
  width: 5vw;
  height: 5vw;
  border: none;
}

.task-btn:hover {
  border: solid 1px rgb(71, 71, 71);
  border-radius: 5px;
}

.due-date-picker {
  border: none;
  width: fit-content;
  color: #dddddd;
}

.priority-btn {
  background-image: url(./assets/exclamation-thick.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.checklist-btn {
  background-image: url(./assets/list.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* behavior when task card is selected */

.selected-card,
.selected-card * {
  background-color: #2d5292;
}

/*Behavior when task card is expanded */
.task-details,
.due-date-display,
.task-btn-wrapper,
.task-notes {
  opacity: 0;
  max-height: 0;
  transition: all 0.2s ease-in-out;
}

.expanded,
.expanded *,
.expanded input[type="text"],
textarea {
  background-color: rgb(150, 150, 150);
}
.expanded > .task-details > .task-btn-wrapper {
  display: flex;
  opacity: 1;
  height: fit-content;
  max-height: 100vh;
  float: right;
  transition: all 0.4s ease-in-out;
}

.expanded > .task-details,
.expanded > div > .due-date-display,
.expanded > .task-details > .task-notes {
  opacity: 1;
  height: fit-content;
  max-height: 100vh;
  transition: all 0.4s ease-in-out;
}

p {
  margin: 0;
}

p:empty:not(:focus)::before {
  content: attr(data-placeholder);
}
h3:empty:not(:focus)::before {
  content: attr(data-placeholder);
}

.done {
  text-decoration: line-through;
}

@media (min-width: 500px) {
  .main-wrapper {
    grid-template-columns: 1fr 3fr;
  }

  .task-btn {
    height: 3vw;
    width: 3vw;
  }
  .due-date-picker {
    width: fit-content;
  }

  .round label {
    height: 2.3vw;
    width: 2.3vw;
  }
}
